<h1>Listing items</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td align=center><%= item.order %></td>
    <td>
      <div style="float:left;border:2px solid;width:1.2em;height:1.2em;background-color:#<%= item.color_code %>;"></div>
      <div style="float:left;"> &nbsp <%= item.name %></div>
      <div style="clear:both;"></div>
    </td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <td>並び替えアイコン</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
